---
pageable: false
---
<% if paginate %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% page_articles.each_with_index do |article, i| %>
	<article>
		<div class="row">
			<% article.data.img_data.each do |img, i| %>
				<div class="col <%= ["", "single_img", "double_img"][article.data.img_data.size]%>">
					<img src="images/samples/<%= img[:src] %>" alt="<%= img[:alt] %>" class="<%= img[:class] %>">
				</div>
			<% end %>
			<div class="col date"><span class="year"><%= article.date.strftime('%Y') %></span><span class="month"><%= article.date.strftime('%B') %></span></div>
			<div class="col description">
				<h2><%= article.title %></h2>
				<%= article.body %>
				<ul class="tools">
					<% article.data.tools.each do |tool, i| %>
						<li><%= tool %></li>
					<% end %>
				</ul>
			</div><!-- .col.description -->
		</div><!-- .row -->
	</article>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
